body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
  color: #000000;
  list-style: none
}
html { box-sizing: border-box;
}
*, *::before, *::after { box-sizing: inherit;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden{
  display: none;
}
.main-navigation {
  font-size: 17px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  min-height: 260px;
}

.container-1 {
  background-color:  #293449;
  width:100%;
  height: 47px;
  border-bottom:5px solid #ffffff;
}
.container-2 {
  display: flex;
  width:940px;
  margin:0 auto;
  justify-content: space-between;
  align-items: flex-start;
}
.user-navigation{
  height: 42px;
  width:300px;
  display:flex;
  margin-top:0px;
  align-items: stretch;
  justify-content:space-between;
  padding-left:0px;
}
.user-navigation li{
  width:50%;
  height: 100%;
  text-align: center;
  margin-left:0px;
}

.site-navigation a,
.user-navigation a {
  display: inline-block;
  color: #ffffff;
  width:100%;
  height: 100%;
  padding-top: 10px;
}

.user-navigation a:hover {
  background-color:#212a3a;
}
.user-navigation a:active {
  background-color: #161d29;
  color:rgba(255,255, 266, 0.6);
}
.main-header-logo {
  width:220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
  padding-top: 13px;
}
.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}
.search-button {
  color: #ffffff;
  background-color: #293449;
  border: none;
  height:42px;
  width:270px;
  text-align: left;
}
.search-button:hover {
  background-color: #212a3a;
}
.search-button:active {
  background-color: #ffffff;
  color:#000000;
}
.order-button {
  height:42px;
  padding-top: 10px;
  width:150px;
  text-align:center;
  background-color: #63a63e;
  color: #ffffff;
}
.order-button:hover {
  background-color: #5fbb2d;
}
.order-button:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}
.info {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:940px;
  min-height: 135px;
  margin-left:auto;
  margin-right: auto;
  background-color: #ffffff;
}
.info h1 {
  width:210px;
  min-height:60px;
  padding-top: 21px;
  padding-left:10px;
  margin-left:43px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 23px;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}
.phone-number{
  padding-left:27px;
  padding-top: 32px;
  margin-bottom:15px ;
}

.info div {
  font-size: 21px;
  line-height:21px;
  text-align: center;
  color: #e9292a;
}
.info .contacts{
  margin-left:0px;
  width:399px;
}
.info span {
  padding-left:5px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.info a {
  flex-grow: 1;
  text-align: center;
  padding-bottom: 8px;
  padding-left:14px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.info a:first-of-type{
  padding-left:30px;
}
.info a:hover {
  color: #ee3643;
}
.info a:active {
  color: rgba(0, 0, 0, 0.3);
}
.visitor{
  padding-top:19px;
}
.visitor .visitor-name{
  text-align: left;
  background: #ffffff;
  width: 299px;
  height: 45px;
  padding-top: 9px;
  padding-left: 46px;
}
.visitor .visitor-info{
  margin: 0;
  display: flex;
  justify-content: space-around;
  line-height: 1;
  width: 250px;
  padding-left:0;
}
.info .visitor a{
  padding-left:0;
}
.visitor-info li{
  display: inline-block;
  padding-left:0;
  text-align: left;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  width:940px;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 24px;
  line-height: 17px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}
.site-navigation a{
  padding-top:21px;
}
.site-navigation li{
  flex-grow: 1;
  text-align: center;
}
.site-navigation a:hover,
.site-navigation a:active {
  background-color: #293449;
}
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.about{
  display: flex;
  width:940px;
  min-height: 536px;
  margin:0 auto;
  justify-content: space-between;
  background-color:#ffffff;
}
.about div:last-child{
  width:300px;
  margin-left: 120px;
}
.about h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -0.027em;
}
.about li{
  font-size: 18px;
  line-height: 24px;
}
.about p{
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
.about a {
  display: inline-block;
  height: 38px;
  width:220px;
  padding-top: 11px;
  font-size: 14px;
  line-height: 17.5px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}
.about div:last-child a{
  width:100%;
}
.main-footer{
  color:#ffffff;
}
.footer-1{
  display: flex;
  justify-content: space-between;
  height:68px;
  align-items: flex-end;
}
.footer-logo{
  padding-top:20px;
  width:220px;
  height: 68px;
  text-align: center;
  background-color:#ee3643 ;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.footer-1,.footer-2{
  width:940px;
  margin:0 auto;
  background-color:#32425c;
  font-size: 18px;
  line-height: 24px;
}
.footer-1 ul{
  margin:0;
  padding-bottom:7px;
  width:547px;
  align-self:flex-end;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-2{
  display: flex;
  justify-content: space-between;
  min-height: 125px;
}
.footer-2 ul{
  flex-grow:1;
  display:flex;
  justify-content: flex-end;
}
.footer-2 ul li{
  flex-grow: 1;
  text-align: right;
}
.footer-3-wrapper{
  width:100%;
  background-color:  #293449;
}
.footer-2-wrapper, .footer-1-wrapper{
  width:100%;
  background-color:#32425c ;
}
.footer-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:940px;
  min-height: 107px;
  margin-left: auto;
  margin-right: auto;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}
.footer-3 ul,
.footer-2 ul,
.footer-1 ul{
  text-align: center;
  padding-left:0;
}
.main-footer a:hover{
 text-decoration:underline;
}
.footer-1 a{
  color:#ffffff;
}
.footer-2 a, .footer-3 a{
  color: #ffd180;
}
.footer-1 a:active{
  color:rgba(241, 245, 247, 0.5);
  text-decoration: none;
}
.footer-2 a:active{
  color:rgba(255, 209, 128, 0.5)  ;
  text-decoration: none;
}
.footer-3 a:active{
  color: #ee3643;
  text-decoration: none;
}
.visitor-name a:hover{
  color:#000000;
}
.visitor-name a:active{
  color:rgba(0, 0, 0, 0.3);
}
.visitor-info a{
  font-size: 16px;
  line-height: 18px;
  color:  #32425c;
  text-decoration: underline;
}
.catalog-navigation ul{
  display:flex;
  width: 940px;
  padding: 0;
  margin: 0 auto;
  margin-top: 57px;
}
.catalog-navigation div{
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.catalog-navigation .main-icon{
  color:transparent;
  background: url("../img/icon-home.svg") no-repeat 0px 8px;
}
.catalog-navigation-element::after{
  content: "";
  display: inline-block;
  width: 20px;
  height:20px;
  background:url(../img/icon-right-small.svg) no-repeat 0 0;
  position: relative;
  top:9px;
  left: 17px;
}

.catalog-navigation li{
  margin-right: 22px;
}
.catalog-navigation-list li:last-child .catalog-navigation-element::after{
  background:none;
}

.catalog-header-wrapper{
  width: 100%;
  text-align: center;
}
.catalog-main{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.catalog-sidebar{
  width: 220px;
}
.items-catalog-sort-paginator{
  width: 700px;
}
.items-sort{
  display: flex;
  justify-content: space-between;
  width:100%;
}
.items-sort .sort{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}
.catalog-header{
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  width: 940px;
  height: 89px;
  padding-top:32px;
  padding-right: 30px;
  text-align: left;
  text-transform: uppercase;
  color:#32425c;
  background-color: #f2f6f8;
}
.catalog-sidebar fieldset{
  margin: 0;
  padding: 0;
  border:none;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog-sidebar legend{
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: 700;
}
.catalog-sidebar input[disabled]{
 color:rgba(0, 0, 0, 0.4);
}
.catalog-sidebar button{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height:17.5px;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}
.items{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 0px;
  font-weight: bold;
  line-height: 20px;
  width: 940px;
  padding: 0;
}

.items-catalog{
  width:700px;
}
.items-index li:nth-child(4n) {
  margin-right: 0;
}
.items-catalog li:nth-child(3n) {
  margin-right: 0;
}
.items li{
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  font-size: 18px;
  width: 218px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}
.items div{
  font-size: 17.5px;
  line-height: 17.5px;
  color:#ffffff;
  background-color: #ee3643;
}
.items .title{
  display: block;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.items .discount {
  color:#999999;
  text-decoration: line-through;
  background-color: #ffffff;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.items .item-price{
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 3px;
  min-height:20px;
}
.items .item-price::after{
  content: "";
  position: absolute;
  box-sizing: content-box;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}
.items .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.items .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.items a{
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #ffffff;
  border: solid 3px #63a63e;
  border-radius: 4px;
}
.items .actions{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
.items li:hover .actions{
  display: block;
}
.items li a:nth-of-type(1){
  color:#ffffff;
  background-color: #63a63e;
  border-bottom-color: #367315 ;
}
.items a:hover{
  border-color:#32425c;
}
.items li a:nth-of-type(1):hover{
background-color: #5fbb2d;
border-color:#5fbb2d;
border-bottom-color: #367315 ;

}
.items a:active{
  opacity: 0.3;
}
.items li a:nth-of-type(1):active{
  background-color: #518534;
  border-color: #518534;
  opacity: 1;
}
.items .image{
  background-color: transparent;
  width: 218px;
  height: 168px;
}
.items .image img{
  max-width: 100%;
}
.items li:hover{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.range-filter {
  width: 220px;
  margin-top: 21px;
}
.range-controls{
  position: relative;
  height: 80px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left:20px;
}
.range-controls .scale{
  height: 2px;
  background: #d7dcde;

}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background:#5fbb2d;
}
.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width:20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls{
  font-size: 0;
  position: relative;
  background-color: #ffffff;
}
.price-controls input{
  display: inline-block;
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17.5px;
  text-align: center;
  border:none;
}
.price-controls div {
  display: inline-block;
  width:30px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17.5px;
  font-weight: normal;
  text-align: center;
  color:#444444;
}
.price-controls .line{
  width: 220px;
  height: 1px;
  background-color: #d7dcde;
  margin-top:25px;
}
.catalog-sidebar p, .items-sort{
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.items-sort a{
  color:rgba(0, 0, 0, 0.3);
  border-bottom:1px dotted #ee3643;
}
.items-sort a:hover{
  color:#000000;
  border-bottom:1px solid #ee3643;
}
.items-sort a:active {
  color:#ee3643;
  border: none;
}
.items-sort .price{
  color:#ee3643;
  border: none;
}
.items-sort .price:hover,
 .items-sort .price:focus,
 .items-sort .price:active{
  color:#ee3643;
  border: none;
}
.arrows{
  display: flex;
  padding-left: 0px;
  margin-right: 10px;
  width:60px;
  justify-content: space-around;
}
.arrows a{
  background-color:inherit;
  border:none;
}
.arrows a:hover,
.arrows a:focus,
.arrows a:active{
  outline:none;
  border: none;
}
.arrows a div{
  display: inline-block;
  width:0px;
  height: 0px;
  border: 5px solid transparent;
  border-bottom-color:#ee3643;
  border-top: 0;
  transform:scaleY(2);
}

.arrows .down-arrow div{
  border: 5px solid transparent;
  border-top-color:#c5c5c5;
  border-bottom: 0;

}
.arrows .down-arrow div:hover{
  border-top-color:#000000;
}
.arrows .down-arrow div:active{
  border-top-color:#ee3643;
}
ul.pagination-list{
  padding-left: 0;
}
.pagination-list li{
  display: inline-block;
  min-width: 38px;
  height: 38px;
  margin-right: 10px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  text-align: center;
  padding-top: 2px;
}
.pagination-list a{
  display: inline-block;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color:#000000;
  text-transform: uppercase;

}
.pagination-list li:nth-of-type(4){
  width: 140px;
}
.pagination-list .pagination-item-current{
  background-color: #ee3643;
  border:none;
}
.pagination-item-current a{
  color:#ffffff;
}
.pagination-list li:hover{
border-color: #bdc6ca;
}
.pagination-list li:active{
  border-color: #ee3643;
}

.product-info{
  width:100%;
  min-height: 261px;
  padding-top:67px;
  padding-bottom: 73px;
  background-color: #f2f6f8;
  text-align: center;
}
.product-info div{
  display:inline-block;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
  width: 938px;
  min-height: 121px;
  padding-top:0px;
}
.product-info h3{
  font-family: 'Cuprum', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  margin:0;
  text-transform: uppercase;
}
.product-info p{
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 27px;
}
.services-background{
  background-color: #f4f7f9;
}
.services-heading p{
  display: inline-block;
  width:398px;
}
.services-heading h2{
  font-family: 'Cuprum',Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
.slider{
  display: inline-block;
  width: 500px;
}
.slider h2{
  font-family: 'Cuprum',Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}
.slider p{
  display: inline-block;
  width:275px;
}
.slider li{
  width:700px;
  min-height:300px;
}
.slider li:nth-child(1){
  background: url(../img/car.png) right bottom no-repeat;
}
.slider li:nth-child(2){
  background: url(../img/garanty.png) right bottom no-repeat;
}
.slider li:nth-child(3){
  background: url(../img/credit.png) right bottom no-repeat;
}
.slider a{
  display: inline-block;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  padding-top: 11px;
}
.services p{
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}
.services-menu{
  width: 240px;
  display: inline-block;
  padding-left: 0px;
  background-color: #32425c;
}
.services-menu a{
  display: block;
  height:61px;
  padding-top: 15px;
  padding-left: 23px;
  font-size:21px;
  font-weight: bold;
  line-height: 30px;
  color:#ffffff;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}
.services-menu a:hover{
  background-color: #293449;
}
.services-menu a:active,
.services-menu li:nth-child(1) a{
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}
.popular-items,
.popular-producers,
.services{
  width:940px;
  margin-left: auto;
  margin-right:auto;
}
.services-background{
  width:100%;
  background-color:  #f4f7f9;;
}
.offers {
  display: flex;
  flex-wrap: wrap;
  width:940px;
  margin-left: auto;
  margin-right:auto;
  min-height: 409px;
}
.offers-block-1{
  display:flex;
  flex-wrap: wrap;
  width:620px;
  justify-content: space-between;
}
.offers-block-2{
  display:flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: 20px;
}
.offers-card {
  display: inline-block;
  width: 300px;
  height: 123px;
  color: #ffffff;
  padding-bottom: 50px;
}
.offers-card h3{
  font-family: 'Cuprum', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding-left:23px;
  padding-top:0px;
}
.offers-card a{
  display:inline-block;
  position: relative;
  bottom:8px;
  width:135px;
  height: 38px;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 12px;
  margin-left: 23px;
}

.offers-block-1 div:nth-of-type(1){
  background-color:#ffbf47;
  background-image: url(../img/icon-1.svg), url(../img/new-flag.png);
  background-repeat: no-repeat, no-repeat;
  background-position:  213px 31px, 240px 0px;
}
.offers-block-1 div:nth-of-type(2) {
  background:#3bbce3 url(../img/icon-2.svg) no-repeat 197px 33px;
  left:320px;
}
.offers-block-2 div:nth-of-type(1) {
  background:#dc91d8 url(../img/icon-3.svg) no-repeat 191px 31px;
  left:640px;
}
.offers-block-2 div:nth-of-type(2) {
  background:#8ed78f url(../img/icon-4.svg) no-repeat 196px 26px;
  top:143px;
  left:640px;
}
.offers-block-2 div:nth-of-type(3) {
  background:#ffc047 url(../img/icon-5.svg) no-repeat 191px 32px;
  top:286px;
  left:640px;
}
.offers-card a:hover{
  background-color:rgba(0, 0, 0, 0.2);
}
.offers-card a:active{
  background-color:rgba(0, 0, 0, 0.3);
}
.billboard ul{
  padding-left:0 ;
}

.billboard li{
  display: inline-block;
  width:620px;
  height: 266px;
  background-color: #444444;
  background:url(../img/drills.jpg);
  color:#ffffff;
  font-size: 18px;
  line-height: 18px;
  padding-left: 24px;
}
.billboard li:last-child  {
  display:none;
  background:url(../img/perforators.jpg);
}
.billboard h3{
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  position: relative;
  top:-12px;
}
.billboard p{
  position: relative;
  top:-42px;
}
.billboard a{
  display: inline-block;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  padding-top: 11px;
  margin-top: 62px;
}
.billboard a:hover,
.slider a:hover,
.about a:hover {
  background-color:#ca2c37;
}
.billboard a:active,
.slider a:active,
.about a:active {
  background-color:#ba2732;
}
.popular-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  height: 89px;
  background-color:#f9f5f0;
}
.popular-heading h2{
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin-left: 30px;
  text-transform: uppercase;
  color: #32425c;

}
.popular-heading a{
  display: inline-block;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  margin-right: 24px;
  padding-top: 11px;

}
.popular-heading a:hover{
  background-color:#ca2c37;
}
.popular-heading a:active{
  background-color:#ba2732;
}
.popular-producers ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.popular-producers li{
  margin-right: 20px;
}
.popular-producers li:nth-child(4n){
  margin-right: 0;
}
.popular-producers li:nth-child(n+5){
  margin-top:14px;
}
.popular-producers li a{
  display: inline-block;
  position: relative;
  width: 220px;
  height:145px;
  border: solid 1px #eaeaea;
}
.popular-producers li img{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.popular-producers li a:hover{
  box-shadow: 0px 10px 25px 0 rgba(87, 87, 87, 0.5);
}
.popular-producers li a:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.5;
}
.sosial{
  display:inline-block;
  width:42px;
  height: 42px;
  border-radius: 21px;
}
.vk{
  background: url(../img/icon-vk.svg) no-repeat 8px 13px #212a3a;
}
.fb{
  background: url(../img/icon-fb.svg) no-repeat 15px 10px #212a3a;
}
.insta{
  background: url(../img/icon-insta.svg) no-repeat 10px 10px #212a3a;
}
.footer-3 a div{width:42px;height:42px;}
.sosial:hover,
.sosial:active{
  background-color:#ee3643;
}
