body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
  color: #000000;
  list-style: none
}
html { box-sizing: border-box;
}
*, *::before, *::after { box-sizing: inherit;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}
.main-navigation {
  font-size: 17px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  min-height: 260px;
}

.container-1 {
  background-color:  #293449;
  width:100%;
  height: 47px;
  border-bottom:5px solid #f4f7f9;
}
.container-2 {
  display: flex;
  width:940px;
  margin:0 auto;
  justify-content: space-between;
  align-items: flex-start;
}
.user-navigation{
  height: 42px;
  width:450px;
  display:flex;
  margin-top:0px;
  margin-right: 0px;
  align-items: stretch;
  justify-content:space-between;
  padding-left:0px;
}
.user-navigation li,
.order-button
{
  width:150px;
  height: 100%;
  text-align: center;
  margin-right: 0px;
}

.site-navigation a,
.user-navigation a {
  display: inline-block;
  position: relative;
  color: #ffffff;
  width:100%;
  height: 100%;
  padding-top: 12px;
}
.bookmarks,
.cart{
  padding-left: 18px;
}
.bookmarks.active,
.cart.active{
  background-color: #ee3643;
}
.bookmarks::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  left:18px;
  top:12px;
  opacity: 0.3;
}
.cart::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  left:18px;
  top:12px;
  opacity: 0.3;
}
.bookmarks:hover::before,
.cart:hover::before{
  opacity: 1;
}
.bookmarks:active::before,
.cart:active::before{
  opacity: 0.5;
}
.user-navigation a:hover {
  background-color:#212a3a;
}
.user-navigation a:active {
  background-color: #161d29;
  color:rgba(255,255, 266, 0.6);
}
.main-header-logo {
  display: Block;;
  width:220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
  padding-top: 13px;
}
.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}
.main-header,
.container-2 label
{
  font-size: 17px;
  line-height:17px;
  color: #ffffff;
}
.main-header {
  background-color: #f4f7f9;
  padding-bottom: 40px;
}
.container-2 .search{
  padding-top: 12px;
  position: relative;
  cursor: pointer;
  width: 270px;
  height:42px;
  padding-left: 48px;
  text-align: left;
}
.container-2 .search::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  left:17px;
  top:12px;
  opacity: 0.3;
}

#search-button-input{
  width:270px;
  bottom:3px;
  right:70px;
  color: #ffffff;
  background-color:#293449;
  border:none;
  background-image: url(../img/icon-search-op30.svg);
  background-position: 17px 12px;
  background-repeat: no-repeat;
  padding-left: 49px;
  height:42px;

}
#search-button-input:hover{
  background-color: #212a3a;
  background-image:url(../img/icon-search.svg) ;
}
#search-button-input:focus,
#search-button-input:active{
background-color: #ffffff;
background-image: url(../img/icon-search-red.svg);
color:#000000;
outline:none;
}

/* #search-button-input{
  border:none;
  padding-top: 12px;
} */
#search-button-input::placeholder{
  color:#ffffff;
};
.order-button {
  height:42px;
  padding-top: 10px;
  width:150px;
  text-align:center;
  background-color: #63a63e;
  color: #ffffff;
}
.user-navigation .order-button:hover {
  background-color: #5fbb2d;
}
.user-navigation .order-button:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}
.info {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:940px;
  min-height: 135px;
  margin-left:auto;
  margin-right: auto;
  background-color:#f4f7f9
}
.info h1 {
  width:210px;
  min-height:60px;
  padding-top: 21px;
  padding-left:10px;
  margin-left:43px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 23px;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}
.phone-number {
  padding-left: 22px;
  padding-top: 9px;
  margin-top: 20px;
  margin-left: 6px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 12px 9px;
  border: 3px solid #ffffff;
  display: inline-block;
  width: 270px;
  height: 45px;
}

.info div {
  font-size: 21px;
  line-height:21px;
  text-align: center;
  color: #e9292a;
}
.info .contacts{
  margin-left:0px;
  width:399px;
}
.info span {
  padding-left: 5px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  display: inline-block;
}
.info a {
  flex-grow: 1;
  padding-bottom: 8px;
  padding-left:12px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.info .enter-button {
  display: inline-block;
  padding-left: 11px;
  padding-top: 12px;
  margin-left: 6px;
  margin-bottom: 8px;
  text-align: center;
  width: 81px;
  height: 45px;
  background-color: #ffffff;
  position: relative;
}
.info .register-button {
  display: inline-block;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 0;
  margin-top: -8px;
  width: 84px;
  height: 45px;
  padding-top: 12px;
  text-align: left;
}
.enter-button::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 14px;
  top: 14px;

}
.info a:hover {
  color: #ee3643;
}
.info a:active {
  color: rgba(0, 0, 0, 0.3);
}
.enter-button:hover::before{
  background-image: url(../img/icon-login-hover.svg);

}
.visitor{
  display: none;
  width: 288px;
  padding-top:19px;
}
.visitor .visitor-name {
  position: relative;
  text-align: left;
  background: #ffffff;
  width: 296px;
  height: 45px;
  padding-top: 13px;
  margin-left: -9px;
  margin-top: -3px;

}
.info .visitor a{
  padding-left:0;
}
.info .visitor-name .name {
    background-image: url(../img/icon-user.svg);
    padding-left: 44px;
    background-repeat: no-repeat;
    background-position: 11px 4px;
}
.info .visitor-name .name:hover{
  background-image: url(../img/icon-user-hover.svg);
}
.info .visitor-name .exit{
  background-image: url(../img/icon-logout.svg);
  padding-left: 44px;
  background-repeat: no-repeat;
  background-position: 11px 4px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 255px;
    top: 11px;
}
.info .visitor-name .exit:hover{
  background-image: url(../img/icon-logout-hover.svg);
}
.visitor .visitor-info {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  line-height: 1;
  width: 288px;
  padding-left: 7px;
  padding-top: 5px;
}
.personal{
  margin-left: 24px;
}

.visitor-info li{
  display: inline-block;
  padding-left:0;
  text-align: left;
}
.visitor-info .my-orders::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  margin-left: -2px;
  position: relative;
  left: 12px;
  top: -3px;
}

.main-header .authorized > a{
  display:none;
}
.authorized .visitor{
  display: block;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height:17px;
  width:940px;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  padding-left: 22px;
  padding-right: 24px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}
.site-navigation a{
  padding-top:20px;
}
.site-navigation li{
  flex-grow: 1;
  text-align: center;
}
.site-navigation a:hover,
.site-navigation a:active {
  background-color: #293449;
}
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.about{
  display: flex;
  width:940px;
  margin:0 auto;
  margin-top: 55px;
  justify-content: space-between;
  background-color:#ffffff;
}
.about div:last-child{
  width:300px;
  margin-left: 120px;
}
.about h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}
.about ul{
  margin: 0;
  padding: 0;
  padding-top: 9px;
}
.about li{
  font-size: 18px;
  min-height: 40px;
  padding-left: 36px;
  position: relative;
}
.about li::before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left:0px;
  top: 9px;
}
.about p{
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
}
.about .link {
  display: inline-block;
  height: 38px;
  width:220px;
  padding-top: 11px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 17.5px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}
.about .link-write-us{
  width: 300px;
  margin-top: 35px;
  padding-left: 4px;
}
.about div:last-child img{
  margin-top: 17px;
}
.main-footer{
  margin-top: 87px;
  color:#ffffff;
}
.catalog-footer{
  margin-top: 0;
}
.main-footer p{
  margin-top: 0;
  margin-bottom: 0;
}

.footer-1,.footer-2{
  width:940px;
  margin:0 auto;
  background-color:#32425c;
  font-size: 18px;
  line-height: 24px;
}
.footer-1{
  display: flex;
  justify-content: space-between;
  height:68px;
  align-items: flex-end;
}
.footer-logo{
  padding-top:20px;
  width:220px;
  height: 68px;
  text-align: center;
  background-color:#ee3643 ;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}
.footer-1 ul{
  margin:0;
  padding-bottom:8px;
  width:547px;
  align-self:flex-end;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-2{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 97px;
}
.footer-2 ul{
  flex-grow:1;
  display:flex;
  justify-content: flex-end;
  margin: 0;
  padding-left: 30px;
}
.footer-2 ul li{
  flex-grow: 1;
  text-align: right;
}
.footer-3-wrapper{
  width:100%;
  background-color:  #293449;
}
.footer-2-wrapper, .footer-1-wrapper{
  width:100%;
  background-color:#32425c ;
}
.footer-2-wrapper{
  padding-top: 26px;}
.footer-2 div{
  padding-left: 3px;
}
.footer-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:940px;
  min-height: 107px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-left: 2px;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}
.footer-3 ul,
.footer-1 ul{
  text-align: center;
  padding-left:0;
}
.footer-3 .copyright{
  width: 300px;
}
.footer-3 .creator {
  width: 330px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.creator div:last-child{
  padding-right: 13px;
}
.creator div:first-child{
  padding-left: 31px;
}

.social-icon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
   width: 130px;
}
.main-footer a:hover{
 text-decoration:underline;
}
.footer-1 a{
  color:#ffffff;
}
.footer-2 a, .footer-3 a{
  color: #ffd180;
}
.footer-1 a:active{
  color:rgba(241, 245, 247, 0.5);
  text-decoration: none;
}
.footer-2 a:active{
  color:rgba(255, 209, 128, 0.5)  ;
  text-decoration: none;
}
.footer-3 a:active{
  color: #ee3643;
  text-decoration: none;
}
.visitor-name a:hover{
  color:#000000;
}
.visitor-name a:active{
  color:rgba(0, 0, 0, 0.3);
}
.visitor-info a{
  font-size: 16px;
  line-height: 18px;
  color:  #32425c;
  text-decoration: underline;
}
.catalog-navigation ul {
  display: flex;
  width: 940px;
  padding: 0;
  margin: 0 auto;
  margin-top: 17px;
}
.catalog-navigation div{
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.catalog-navigation .main-icon{
  color:transparent;
  background: url("../img/icon-home.svg") no-repeat -1px 9px;
  margin-left: -1px;
}
.catalog-navigation-element::after{
  content: "";
  display: inline-block;
  width: 20px;
  height:20px;
  background:url(../img/icon-right-small.svg) no-repeat 0 0;
  position: relative;
  top:8px;
  left: 18px;
}
.main-icon.catalog-navigation-element::after{
  left:28px;
}

.catalog-navigation li{
  margin-right: 21px;
}
.catalog-navigation-list li:nth-child(1)
{margin-right: 35px;}
.catalog-navigation-list li:last-child .catalog-navigation-element::after{
  background:none;
}

.catalog-header-wrapper{
  width: 100%;
  text-align: center;
}

.catalog-main{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.catalog-sidebar{
  width: 220px;
}
.catalog-sidebar ul{
  padding-left: 2px;
}

.items-catalog-sort-paginator{
  width: 700px;
}
.catalog-main .items-sort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 13px;
  padding-left: 19px;
  background-color: #f7f3ec;
  border-radius: 3px;
}
.items-sort .sort{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  padding-left: 105px;
}
.catalog-header {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  display: inline-block;
  width: 940px;
  height: 89px;
  padding-top: 32px;
  padding-left: 28px;
  margin-top: 19px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}
.catalog-sidebar fieldset{
  margin: 0;
  padding: 0;
  border:none;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-sidebar legend{
  font-size: 17px;
  line-height: 14px;
  font-weight: 700;
}
.catalog-sidebar fieldset:nth-of-type(2)
{
  margin-top: 15px;
}
.catalog-sidebar fieldset:nth-of-type(3)
{
  margin-top: 32px;
}
.producer-fieldset legend{
  margin-bottom: 8px;
}
.side-button label::before{
  content:"";
  display: inline-block;
  position: relative;
  width: 28px;
  height:27px;
  right: 3px;
  top: 10px;
}
.producer{
  margin-top: 2px;
}
.producer li,
.power li{
  margin-bottom: 8px;
}
.producer label::before{
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.power{
  margin-top: 10px;
}
.power label::before{
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0px 0;
  right: 4px;
}
.producer input:checked + label::before{
  background-image: url(../img/checkbox-on.svg);
}
.power input:checked + label::before{
  background-image: url(../img/radio-on.svg);
}
.power input:checked:hover + label::before{
  background-image: url(../img/radio-on-hover.svg);
}
.producer input:checked:hover + label::before{
  background-image: url(../img/checkbox-on-hover.svg);
}
.power input:hover + label::before{
  background-image: url(../img/radio-off-hover.svg);
}
.producer input:hover + label::before{
  background-image: url(../img/checkbox-off-hover.svg);
}
.power input:disabled + label,
.producer input:disabled + label{
  opacity: 0.4;
}
.producer input:disabled + label::before,
.producer input:disabled + label::before{
  opacity:0.75 ;
}

.catalog-sidebar button{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height:17.5px;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}
.items{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 0px;
  font-weight: bold;
  line-height: 20px;
  width: 940px;
  padding: 0;
  margin-top: 21px;
}

.items-catalog{
  width:700px;
}
.items-index li:nth-child(4n) {
  margin-right: 0;
}
.items-catalog li:nth-child(3n) {
  margin-right: 0;
}
.items li {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  font-size: 18px;
  width: 218px;
  height: 315px;
  margin-right: 20px;
  margin-bottom: 21px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}
.items div{
  font-size: 17.5px;
  line-height: 17.5px;
  color:#ffffff;
  background-color: #ee3643;
}
.items .title{
  display: block;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.items .discount {
  color:#999999;
  text-decoration: line-through;
  background-color: #ffffff;
  min-height: 20px;
  margin-top: -4px;
  margin-bottom: -3px;
  padding-left: 3px;
  font-size: 17px;
  line-height: 18px;
}
.items .item-price {
  position: relative;
  width: 80px;
  height: 20px;
  margin: 10px auto;
  margin-left: 42px;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 3px;
  min-height: 20px;
  font-size: 17px;
  line-height: 18px;
}
.items .item-price::after{
  content: "";
  position: absolute;
  box-sizing: content-box;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}
.items .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  background: url("../img/new-flag.png") no-repeat 0 0;
}


.items a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  display: inline-block;
  width: 124px;
  margin: 4px auto;
  margin-bottom: 5px;
  padding: 7px 0;
  padding-left: 5px;
  background-color: #ffffff;
  border: solid 3px #63a63e;
  border-radius: 4px;
}
.items .actions{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
.items li:hover .actions{
  display: block;
}
.items li a:nth-of-type(1){
  color:#ffffff;
  background-color: #63a63e;
  border-bottom-color: #367315 ;
}
.items a:hover{
  border-color:#32425c;
}
.items li a:nth-of-type(1):hover{
background-color: #5fbb2d;
border-color:#5fbb2d;
border-bottom-color: #367315 ;

}
.items a:active{
  opacity: 0.3;
}
.items li a:nth-of-type(1):active{
  background-color: #518534;
  border-color: #518534;
  opacity: 1;
}
.items .image{
  background-color: transparent;
  width: 218px;
  height: 168px;
}
.items .image img{
  max-width: 100%;
}
.items li:hover{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.range-filter {
  width: 220px;
  margin-top: 21px;
}
.range-controls{
  position: relative;
  height: 80px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left:20px;
}
.range-controls .scale{
  height: 2px;
  background: #d7dcde;

}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background:#5fbb2d;
}
.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width:20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls{
  font-size: 0;
  position: relative;
  background-color: #ffffff;
}
.price-controls input{
  display: inline-block;
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17.5px;
  text-align: center;
  border:none;
}
.price-controls div {
  display: inline-block;
  width:30px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17.5px;
  font-weight: normal;
  text-align: center;
  color:#444444;
}
.price-controls .line,
.catalog-sidebar .producer-line
{
  width: 220px;
  height: 1px;
  background-color: #d7dcde;
  margin-top:25px;
}
.catalog-sidebar .producer-line{
  margin-top: 0;
}
.catalog-sidebar p,
.items-sort{
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.catalog-sidebar p {
  background-color: #f7f3ec;
  padding: 10px;
  padding-top: 11px;
  padding-left: 19px;
  margin-top: 0px;
  margin-bottom: 19px;
  border-radius: 3px;
  line-height: 18px;
}
.catalog-sidebar button{
  width: 140px;
  height: 38px;
  margin-top: 64px;
  padding-left: 8px;
}

.items-sort a{
  color:rgba(0, 0, 0, 0.3);
  border-bottom:1px dotted #ee3643;
}
.items-sort a:hover{
  color:#000000;
  border-bottom:1px solid #ee3643;
}
.items-sort a:active {
  color:#ee3643;
  border: none;
}
.items-sort .price{
  color:#ee3643;
  border: none;
}
.items-sort .price:hover,
 .items-sort .price:focus,
 .items-sort .price:active{
  color:#ee3643;
  border: none;
}
.arrows {
  display: flex;
  padding-left: 10px;
  padding-right: 9px;
  margin-right: 9px;
  margin-top: 12px;
  width: 62px;
  justify-content: space-between;
}
.arrows a{
  background-color:inherit;
  border:none;
}
.arrows a:hover,
.arrows a:active{
  border: none;
}
.arrows a div{
  display: inline-block;
  width:0px;
  height: 0px;
  border: 5px solid transparent;
  border-bottom-color:#ee3643;
  border-top: 0;
  transform:scaleY(2);
}

.arrows .down-arrow div{
  border: 5px solid transparent;
  border-top-color:#c5c5c5;
  border-bottom: 0;

}
.arrows .down-arrow div:hover{
  border-top-color:#000000;
}
.arrows .down-arrow div:active{
  border-top-color:#ee3643;
}
ul.pagination-list {
  padding-left: 0;
  margin-top: 31px;
  margin-bottom: 61px;
}
.pagination-list li{
  display: inline-block;
  min-width: 38px;
  height: 38px;
  margin-right: 4px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  text-align: center;
  padding-top: 2px;
}
.pagination-list a{
  display: inline-block;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color:#000000;
  text-transform: uppercase;

}
.pagination-list li:nth-of-type(4){
  width: 140px;
}
.pagination-list .pagination-item-current{
  background-color: #ee3643;
  border:none;
}
.pagination-item-current a{
  color:#ffffff;
}
.pagination-list li:hover{
border-color: #bdc6ca;
}
.pagination-list li:active{
  border-color: #ee3643;
}

.product-info {
  width: 100%;
  padding-top: 62px;
  padding-bottom: 55px;
  background-color: #f2f6f8;
  text-align: center;
}
.product-info div{
  display:inline-block;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
  width: 938px;
  min-height: 121px;
  padding-top:0px;
}
.product-info h3{
  font-family: 'Cuprum', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  margin:0;
  text-transform: uppercase;
}
.product-info p{
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 27px;
}
.services-background{
  padding-top: 65px;
  margin-top: 78px;
  width:100%;
  background-color: #f4f7f9;
}
.services-heading{
  width: 100%;
}
.services-heading p{
  display: inline-block;
  width:398px;
}
.services-heading h2{
  font-family: 'Cuprum',Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
}
.container-3{
  display: flex;
  align-items: flex-start;
}
.slider{
  display: inline-block;
  width: 700px;
  margin:0;
  padding-left: 80px;
  margin-top: 24px;
}
.slider h2{
  font-family: 'Cuprum',Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 11px;
  color: #32425c;
}
.slider p{
  display: inline-block;
  width:275px;
}
.slider li{
  width:100%;
  min-height: 285px;;
}
.slider li:nth-child(1){
  background: url(../img/car.png) right bottom no-repeat;
}
.slider li:nth-child(2){
  background: url(../img/garanty.png) right bottom no-repeat;
}
.slider li:nth-child(3){
  background: url(../img/credit.png) right bottom no-repeat;
}
.slider a{
  display: inline-block;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  padding-top: 11px;
}
.services p{
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}
.services-menu{
  width: 240px;
  display: inline-block;
  position: relative;
  padding-left: 0px;
  background-color: #32425c;
  margin-top: 56px;
}
.services-menu a{
  display: block;
  height:61px;
  padding-top: 15px;
  padding-left: 23px;
  font-size:21px;
  font-weight: bold;
  line-height: 30px;
  color:#ffffff;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}
.services-menu a:hover{
  background-color: #293449;
}
.services-menu a:active,
.services-menu li:nth-child(1) a{
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}
.popular-items,
.popular-producers,
.services{
  width:940px;
  margin-left: auto;
  margin-right:auto;
}

.offers {
  padding-top: 62px;
  display: flex;
  flex-wrap: wrap;
  width:940px;
  margin-left: auto;
  margin-right:auto;
  min-height: 409px;
}
.offers-block-1{
  display:flex;
  flex-wrap: wrap;
  width:620px;
  justify-content: space-between;
}
.offers-block-2{
  display:flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: 20px;
}
.offers-card {
  display: inline-block;
  width: 300px;
  height: 123px;
  color: #ffffff;
  padding-bottom: 50px;
}
.offers-card h3{
  font-family: 'Cuprum', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding-left:23px;
  padding-top:0px;
}
.offers-card a{
  display:inline-block;
  position: relative;
  bottom:9px;
  width:135px;
  height: 38px;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 13px;
  margin-left: 24px;
}

.offers-block-1 .materials{
  background-color:#ffbf47;
  background-image: url(../img/icon-1.svg), url(../img/new-flag.png);
  background-repeat: no-repeat, no-repeat;
  background-position:  213px 31px, 240px 0px;
}
.offers-block-1 .tools{
  background:#3bbce3 url(../img/icon-2.svg) no-repeat 197px 33px;
  left:320px;
}
.offers-block-2 div:nth-of-type(1) {
  background:#dc91d8 url(../img/icon-3.svg) no-repeat 191px 31px;
  left:640px;
}
.offers-block-2 div:nth-of-type(2) {
  background:#8ed78f url(../img/icon-4.svg) no-repeat 196px 26px;
  top:143px;
  left:640px;
}
.offers-block-2 div:nth-of-type(3) {
  background:#ffc047 url(../img/icon-5.svg) no-repeat 191px 32px;
  top:286px;
  left:640px;
}
.offers-block-2 .offers-card:nth-child(n+2){
  margin-top: -4px;
}
.offers-card a:hover{
  background-color:rgba(0, 0, 0, 0.2);
}
.offers-card a:active{
  background-color:rgba(0, 0, 0, 0.3);
}
.billboard{
  position: relative;
  margin-top: -4px;}
.billboard ul{
  padding-left:0 ;
}

.billboard li{
  display: none;
  width:620px;
  height: 266px;
  background-color: #444444;
  background:url(../img/drills.jpg);
  color:#ffffff;
  font-size: 18px;
  line-height: 18px;
  padding-left: 24px;
}


.billboard li:last-child  {
  background:url(../img/perforators.jpg);
}
.billboard .active{
  display:inline-block;
}
.billboard-arrow {
  content: "";
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 40px;
  top: 138px;
  left: 579px;
  background-image: url(../img/icon-right.svg);
  background-color: transparent;
  border:none;
  padding: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
.left-arrow{
  left: 25px;
  transform: scale(-1, 1);
}
.billboard h3{
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  position: relative;
  top:-13px;
}
.slider-controls {
  position: absolute;
  width: 30px;
  height: 10px;
  top: 244px;
  left: 295px;
}
.slider-controls button{
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.slider-controls button:nth-child(2){
  left:20px;
}
.slider-controls .active::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 2px;
  top: 2px;
  border-radius: 3px;
  background:#ee3643;
}
.billboard p{
  position: relative;
  top:-44px;
  left: 1px;
}
.billboard a{
  display: inline-block;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-left: 7px;
  margin-top: 62px;
}
.billboard a:hover,
.slider a:hover,
.link:hover,
.buy a:hover
 {
  background-color:#ca2c37;
}
.billboard a:active,
.slider a:active,
.link:active,
.buy a:active
 {
  background-color:#ba2732;
}
.popular-heading{
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  height: 89px;
  background-color:#f9f5f0;
}
.popular-heading h2{
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin:0;
  margin-left: 28px;
  text-transform: uppercase;
  color: #32425c;

}
.popular-heading a{
  display: inline-block;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  margin-right: 24px;
  padding-top: 11px;

}
.popular-heading a:hover,
.letter .submit-button:hover{
  background-color:#ca2c37;
}
.popular-heading a:active,
.letter .submit-button:active
{
  background-color:#ba2732;
}
.popular-producers .popular-heading{
  margin-top: 2px;
}
.popular-producers .popular-heading a{
  padding-top: 9px;
}
.popular-producers ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 20px;
}
.popular-producers li{
  margin-right: 20px;
}
.popular-producers li:nth-child(4n){
  margin-right: 0;
}
.popular-producers li:nth-child(n+5){
  margin-top:14px;
}
.popular-producers li a{
  display: inline-block;
  position: relative;
  width: 220px;
  height:145px;
  border: solid 1px #eaeaea;
}
.popular-producers  img{
  position: absolute;
  top:48%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.popular-producers li a:hover{
  box-shadow: 0px 10px 25px 0 rgba(87, 87, 87, 0.5);
}

.popular-producers li a:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.5;
}
.social{
  display:inline-block;
  width:40px;
  height: 40px;
  border-radius: 21px;
}
.social a{
  display: block;
  height: 40px;
}
.vk{
  background: url(../img/icon-vk.svg) no-repeat 7px 13px #212a3a;
}
.fb{
  background: url(../img/icon-fb.svg) no-repeat 14px 10px #212a3a;
}
.insta{
  background: url(../img/icon-insta.svg) no-repeat 9px 10px #212a3a;
}
.social:hover,
.social:active{
  background-color:#ee3643;
}
.map-section{
  width: 100%;
  text-align: center;
  height: 0;
}
.map{
  display: inline-block;
  top: -723px;
  position: relative;
}
.close-button{
  position: absolute;
  width: 21px;
  height: 21px;
  border:none;
  background-color:transparent;
  background-image: url(../img/icon-close.svg);
  right:24px;
  top:24px;
  cursor: pointer;
}
.letter-section{
  width: 100%;
  text-align: center;
  height: 0;
}
.letter {
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -244px;
  width: 620px;
  height: 430px;
  text-align: center;
  background-color: #ffffff;
  border-top: 7px solid #ff5256;
}
.letter .close-button{
  right:9px;
  top:9px;
}
.letter label{
  font-size: 18px;
}
.name-mail{
  margin-top: 40px;
}
.name-mail div{
  display: inline-block;
  text-align: left;
  width: 220px;
}

.name-mail input {
  width: 220px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  line-height: 32px;
  padding-left: 14px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: 8px;
}
.name-mail input:hover,
.letter-text textarea:hover
{
  border-color: #b5b5b5;
}
.name-mail input:focus,
.letter-text textarea:focus,
.name-mail input:active,
.letter-text textarea:active
{
outline: none;
border-color: #ee3643;
}
.letter-text textarea{
  border: 2px solid #dee3e4;
  border-radius: 3px;
  line-height: 32px;
  padding-left: 14px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-image: none;
  width: 462px;
  height: 116px;
}
.letter-text{
  margin-bottom: 30px;
}
.letter-text span {
   display:block;
   margin-bottom: 7px;
   margin-top: 19px;
   text-align: left;
   padding-left: 81px;
}
.your-name{
  margin-right:14px;
}
.letter .submit-button,
.buy a,
.buy button{
  display: inline-block;
  width:460px;
  height:38px;
  border: none;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.submit-background{
  width: 620px;
  height: 112px;
  background-color:#f4f4f4;
  padding-top: 37px;
}
.catalog-modal-section{
 margin: 0;
padding: 0;
position: fixed;
top:100px;

margin-left: auto;
margin-right: auto;
z-index:100;
opacity:0;
pointer-events: none;
width: 100%;
text-align: center;
height: 282px;
}
#modal:target{
  opacity: 1;
  pointer-events: auto;
}
.catalog-modal
{
  position: relative;
box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
height:282px;
width:620px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: stretch;

text-align: center;
background-color: #ffffff;
border-top: 7px solid #ff5256;
}
.catalog-modal .close-button{
  top: 9px;
  right: 9px;
}
.buy
{
 height: 112px;
 background-color: #f1f1f1;
 padding-top: 37px;
}
.added
{
  flex-grow: 1;
  background-image: url(../img/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 81px 47px;
  font-size: 30px;
  padding-top: 63px;
  padding-left: 55px;
}
.buy a,
.buy button
{
  width:220px;
  padding-top: 0;
}
.buy a{
  padding-top: 10px;
}
.buy button{
  background-color: #ffffff;
  color: #000000;
  margin-left: 14px;
}
.footer-2 div p
{
  color:#ffffff;
  text-decoration: none;
}
.office{
  width: 200px;
}
.services-menu::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 300px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -58px;
  left: 231px;
}
